h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #1a64d6;
  font-size: 34px;
  margin: 0;
  line-height: 48px;
}

h2 {
  font-size: 34px;
  margin: 0;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-size: 19px;
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  opacity: 0.7;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 10px 0;
  max-width: 400px;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}

li:hover {
  background: #fffbef;
  border-radius: 10px;
}

button {
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #1a64d6;
  border: 1px solid #1a64d6;
  border-radius: 30px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 22px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  color: #1a64d6;
  background-color: #fff;
  transition: all 200ms linear;
  cursor: pointer;
}
